src/main/mule/world-demo-api-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b04d9de-ad6d-48fd-93e6-9dd849699b2c" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a8ab2bb4-75a8-4bc6-b6d2-e8104cb0de6d" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-api-jenkinsFlow" doc:id="95aa4458-2cc7-43f0-ba01-b3baf035b8b4" >
		<http:listener doc:name="Listener" doc:id="db3ad5ae-2923-445e-aed2-661997b671d2" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="4768b80b-765e-42d6-93b6-e779fca089d0" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
